.ability-list {
    @media(max-width: 992px) {
        background-color: #F8F9FC;
        padding: 16px;
        border-radius: 16px;
        margin-bottom: 32px;
    }

    .ability-item {
        margin-bottom: 16px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        max-width: 338px;

        &:last-child {
            margin-bottom: 32px;

            @media(max-width: 992px) {
                margin-bottom: 0;
            }
        }
    }

    .ability-icon {
        margin-right: 8px;
        width: 16px;
        min-width: 16px;
        height: 16px;
        color: #65bd47;
    }

    .ability-wrapper {}

    .ability-heading {
        font-weight: 500;
        margin-bottom: 4px;
        font-size: 14px;
        line-height: 21px;
    }

    .ability-desc {
        line-height: 18px;
        font-size: 12px;
    }
}