.connect-email {
    .connect-email__heading {
        margin-bottom: 8px;
        font-weight: 600;
    }

    .connect-email__desc {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 32px;
    }

    .connect-email__btn-connect,
    .connect-email__btn-cancel {
        display: block;
        width: 100%;
        border: none;
    }

    .connect-email__btn-connect {
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        position: relative;
        border-radius: 2px;
        background-color: #5383EC;

        .connect-email__btn-connect__icon {
            width: 100%;
            max-width: 48px;
            height: calc(100% - 2px);
            position: absolute;
            left: 1px;
            top: 1px;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;

            div {
                width: 18px;
                height: 18px;
            }
        }

        .connect-email__btn-loader {
            margin-left: 8px;
            color: var(--btn-background);
        }
    }

    .connect-email__btn-cancel {
        margin-top: 8px;
        background-color: transparent;
        color: #4F637D;
        font-size: 12px;
        line-height: 18px;

    }
}