@font-face {
  font-family: 'Eudoxus Sans';
  font-display: swap;
  src:
    url('./../fonts/EudoxusSans-Bold.woff2') format('woff2'),
    url('./../fonts/EudoxusSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}